_ReSharper.*/
_UpgradeReport_Files
UpgradeLog.XML
Backup
Download
[Bb]in
[Oo]bj
*.suo
*.user
EventflitRESTDotNet/EventflitRESTDotNet.1.0.nupkg
packages/
EventflitRESTDotNet.sln.docstates
build
*.testsettings
*.vsmdi
msbuild.log
*.nupkg
.vs/
EventflitServer.Core/project.lock.json
*.userprefs
